name: Build LibChecker (Fork)

on:
  push:
    branches: [ master ]
  pull_request:
  workflow_dispatch:  # 允许手动触发

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0  # 需要完整 git 历史来判断版本

      - name: Set up JDK 25
        uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: 25

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew

      - name: Build FOSS and Market APKs
        run: ./gradlew app:assembleRelease

      - name: Upload FOSS APK
        uses: actions/upload-artifact@v5
        with:
          name: LibChecker-Foss
          path: app/build/outputs/apk/foss/release/*.apk

      - name: Upload Market APK
        uses: actions/upload-artifact@v5
        with:
          name: LibChecker-Market
          path: app/build/outputs/apk/market/release/*.apk
